:root {
  --create-prompt-prefix-tilt: 10deg;
}

.create-page-inner {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  width: 100%;

  margin: auto;
  gap: 0.5em;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 100%;
  max-width: 50em;
  padding: 16px;
}

.create-prompt {
  border-radius: 2em;
  width: 80%;
  resize: none;
  overflow: auto;
  /* padding: 8px 24px 8px 24px; */
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  padding: 0.5em;


  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.create-prompt-prefix {
  font-size: 200%;
  padding: 0 0.2em;
}


@keyframes xxx {
  0% {
    rotate: calc(var(--create-prompt-prefix-tilt));
  }

  50% {
    rotate: calc(-1 * var(--create-prompt-prefix-tilt));
  }

  100% {
    rotate: calc(var(--create-prompt-prefix-tilt));
  }
}

.create-prompt-prefix>div {
  animation-duration: 1.5s;
  animation-name: xxx;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.create-prompt>input {
  outline: none;
  border: none;
}

.create-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;

  /* align center */
  justify-content: center;
}

/* .create-prompt::placeholder {
  padding: 8px 24px 8px 24px;
} */


.create-form-submit {
  width: 10em;
}

.create-generating {}

.create-generating-theme {
  font-style: italic;
  padding: 1em;
  background-color: rgb(220, 220, 220);
}

.create-prompt-length-limit {
  font-style: italic;
}

.create-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}