.card-loading-animation {
  font-size: 8pt;
  margin-top: 1em;
  margin-right: 2em;
  width: 10em;
  height: 14em;
}

.card-loading-animation-inner {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 black;
  
  animation-timing-function: ease-in-out;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    rotate: -10deg;
    background-color: blue;
  }
  25% {
    background-color: red;
    rotate: calc(180deg + 20deg);
  }
  50% {
    rotate: calc(180deg - 10deg);
    background-color: yellow;
  }
  75% {
    rotate: calc(360deg + 20deg);
    background-color: green;
  }
  100% {
    rotate: calc(360deg - 10deg);
    background-color: blue;
  }
}