.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 10px;
  background: #F8F8F8;
  border-bottom: 4px solid #616161;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: #EAEAEA;
}

.button:active {
  transform: translateY(2px);
  border-bottom-width: 2px;
}