.button {
  font-family: Poppins, sans-serif;
  font-weight: 300;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  gap: 10px;
  background: #e2e2e2;
  border: none;
  /* border-bottom: 4px solid #616161; */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, border-bottom-width 0.3s;
}

.button:hover {
  background: #ededed;
}

.button:active {
  transform: translateY(2px);
  border-bottom-width: 2px;
}