.game {
  display: flex;
  flex-direction: row;
  /* padding: 1em; */
  /* gap: 0.5em; */

  font-family: 'Poppins', sans-serif;
}

.game-sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 20em;

  background-color: rgb(218, 218, 218);
}

.game-leftSidebar {}

.game-rightSidebar {}

.game-transcript {
  max-height: 20em;
  overflow-y: scroll;
}

.game-sidebar-title {
  font-size: 120%;
  font-weight: bold;
}

.game-transcript-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  padding: 0.5em;
}

.game-transcript-item-player1 {
  background-color: white;
  color: black;
}

.game-transcript-item-player2 {
  background-color: black;
  color: white;
}

.game-transcript-item-label {
  font-weight: bold;
}

.game-transcript-item-body {
  /* padding: 0.5em; */
}

.game-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  max-width: 60em;
}

.game-hand {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  overflow-x: auto;
  background-color: rgb(155, 155, 155);
}

.game-opponentHand {
  background-color: #DB4437;
  box-shadow: 0 0 0.5em 0 #000000 inset;
  min-height: 290px;
}

.game-playerHand {
  background-color: #4285F4;
  box-shadow: 0 0 6px 0 #000000 inset;
  min-height: 290px;
}

.game-field {
  padding: 0rem 1rem;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;

}

.game-fieldDivider {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.game-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.health-bar {
  width: 100%;
  max-width: 200px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;

}

.health-bar-fill {
  display: flex;
  height: 100%;
  background-color: #FF8A80;
  transition: width 0.3s ease-in-out;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.health-bar-text {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}


.mana-bar {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;

}

.mana-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  background-color: #93C5FF;
  transition: width 0.3s ease-in-out;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.mana-bar-text {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  height: 100%;
  width: 100%;
  align-self: center;
}

/* Media Query for Responsive Styles */
@media (max-width: 480px) {
  .health-bar {
    max-width: 100%;
  }
}