
.card {
  font-size: 10pt;
  width: 12em;
  min-width: 12em;
  height: calc(1.818 * 12em);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  isolation: isolate;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.5em;
  user-select: none;
  overflow: hidden;

  font-family: 'Poppins', sans-serif;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: stretch;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  width: 100%;
  min-height: 1.5em;
  gap: 1em;
}

.card-cost {
  height: 100%;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4285F4;
  color: white;
  font-weight: 700;

}

.card-name {
  height: 100%;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  white-space: nowrap;
}

.card-image {
  width: 100%;
}

.card-image>img {
  width: 100%;
  /* height: 100%; */
  object-fit: fill;
}

.card-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card-ability {
  padding: 1em 1em;
  font-size: 70%;
  text-align: center;
  word-break: normal;

  overflow-y: scroll;
}

.card-logo {
  width: 100%;
  height: 40px;
}

.card-logo>img {
  height: 100%;
}

.card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 1.5em;
}

.card-attack,
.card-health {
  text-align: center;
}

.card-attack-inner, .card-health-inner {
  width: 4em;
  color: white;
  font-weight: 700;
}

.card-attack-inner {
  background: #DB4437;
}

.card-health-inner {
  background: #0F9D58;
}

.card-logo {
  text-align: center;
  height: 100%;
}