:root {
  --card-width: 10em;
}

.card {
  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 300px;
  isolation: isolate;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  user-select: none;
  overflow: hidden;
}

/* .card * {
  user-select: none;
} */

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px;
  width: 100%;
  height: 40px;
  gap: 1em;

}

.card-cost {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  background: #4285F4;
  color: white;
  font-weight: 700;

}

.card-inner {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: baseline;

  background-color: white;
  height: 100%;
  width: 100%;
}




.card-image {
  width: 100%;
  height: 10em;
}

.card-image>img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-logo {
  width: 100%;
  height: 40px;
}

.card-logo>img {
  height: 100%;
}

.card-ability {
  /* height: 3em; */
  padding: 0.4em;
  text-align: center;
  margin: auto;
 
  overflow-y: scroll;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-attack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  background: #DB4437;
  color: white;
  font-weight: 700;

}

.card-health {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  background: #0F9D58;
  color: white;
  font-weight: 700;

}

